{% extends 'happy_hoe/base.html' %}
{% block content %}
<style>
  .card-container {
    max-width: 400px; /* Width of the card */
    margin: 20px auto 10px; /* Add top margin for spacing from navbar */
    padding: 10px; /* Padding inside the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* Border radius for rounded corners */
    background-color: #fff;
    position: relative; /* Ensure positioning context for the button */
  }

  .card-header {
    font-size: 1.1rem; /* Font size of the card header */
    font-weight: bold;
    color: #0B2F9F;
    padding: 10px; /* Padding inside the card header */
    border-bottom: 1px solid #dee2e6;
    border-radius: 8px 8px 0 0; /* Border radius for top corners */
    text-align: center;
    font-family: 'Georgia', serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Medium text shadow */
  }

  .card-body {
    padding: 10px; /* Padding inside the card body */
  }

  .card-body p {
    font-size: 0.9rem; /* Font size of paragraphs in card body */
    margin: 6px 0; /* Margin for paragraphs */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Medium text shadow */
  }

  .card-body p strong {
    color: black;
  }

  .btn-primary {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-size: 0.9rem; /* Font size of the button */
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Times New Roman", Times, serif;
    background-color: #0B2F9F;
  }

  .btn-primary:hover {
    background-color: rgb(210, 224, 251);
  }

  /* Back Button */
  .back-button {
    position: fixed;
    bottom: 80px; /* Position from the bottom */
    right: 20px; /* Position from the right */
    background-color: rgb(157, 189, 255);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px 16px; /* Padding inside the button */
    text-align: center;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    z-index: 1000; /* Ensure button is above other content */
  }

  .back-button:hover {
    background-color: rgb(210, 224, 251);
  }
</style>

<!-- Card Layout for Product Details -->
<div class="container">
  <div class="card-container">
    <div class="card-header">
      Product Details
    </div>
    <div class="card-body">
      <p><strong>Item Name:</strong> {{ product.stock_name }}</p>
      <p><strong>Unit Price:</strong> UGX {{ product.unit_price }}</p>
      <p><strong>Branch Name:</strong> {{ product.stock_branch }}</p>
      <p><strong>Total Quantity:</strong> {{ product.total_quantity }}</p>
      
      <!-- Action Buttons -->
      <div class="action-buttons">
        <a href="{% url 'issue_item' product.id %}" class="btn btn-primary">Sell Item</a>
      </div>
    </div>
  </div>
</div>

<!-- Back Button -->
<a href="{% url 'dashboard' %}" class="back-button">Back</a>

{% endblock %}
